<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/res/styles/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} - neraid</title>
    </head>
    <body>
        <nav id="topbar">
            <a href="/blog">Blog</a>
        </nav>
        <main class="article">
            <article class="article-content">
{{{content}}}
            </article>
        </main>
    </body>
</html>
